@model IEnumerable<HomeLengo.Models.Property>

@foreach (var item in Model)
{
    var primaryPhoto = item.PropertyPhotos?
    .FirstOrDefault(p => p.AltText != null && p.AltText.Contains("Hình 1"))
    ?? item.PropertyPhotos?.FirstOrDefault();

    <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="homelengo-box">
            <div class="archive-top">
                <a href="/Property/Details/@item.PropertyId" class="images-group">
                    <div class="images-style">
                        <img class="lazyload"
                             data-src="~/assets/images/home/@primaryPhoto?.FilePath"
                             src="~/assets/images/home/@primaryPhoto?.FilePath"
                             alt="@item.Title" />
                    </div>

                    <div class="top">
                        <ul>
                            <li class="flag-tag style-1" style="display:inline-block; margin-right:6px; margin-bottom:6px;">
                                @item.Status?.Name
                            </li>
                            @foreach (var feature in item.PropertyFeatures)
                            {
                                <li class="flag-tag primary" style="display:inline-block; margin-right:6px; margin-bottom:6px;">
                                    @feature.Value
                                </li>
                            }
                            
                        </ul>

                    </div>
                    <div class="bottom" style="display: flex; flex-direction: column; align-items: flex-start;">
                        <div>@item.Address</div>
                        <div>@item.Neighborhood?.Name</div>
                        <div>Huyện: @item.District?.Name</div>
                        <div>Thành phố: @item.City?.Name</div>
                    </div>
                </a>
            </div>

            <div class="archive-bottom">
                <div class="content-top">
                    <h6 class="text-capitalize">
                        <a href="/Property/Details/@item.PropertyId" class="link">
                            @item.Title
                        </a>
                    </h6>

                    <ul class="meta-list">
                        <li class="item">
                            <i class="icon icon-bed"></i>
                            <span class="text-variant-1">Phòng ngủ:</span>
                            <span class="fw-6">@item.Bedrooms</span>
                        </li>
                        <li class="item">
                            <i class="icon icon-bath"></i>
                            <span class="text-variant-1">Phòng tắm:</span>
                            <span class="fw-6">@item.Bathrooms</span>
                        </li>
                        <li class="item">
                            <i class="icon icon-sqft"></i>
                            <span class="text-variant-1">Diện tích:</span>
                            <span class="fw-6">@item.Area m²</span>
                        </li>
                    </ul>
                </div>

                <div class="content-bottom">
                    <div class="d-flex gap-8 align-items-center">
                        <div class="avatar avt-40 round">
                            @{
                                var avatarFileName = item.Agent?.User?.Avatar;
                                var avatarPath = string.IsNullOrEmpty(avatarFileName)
                                    ? "~/assets/images/avatar/default-avatar.gif"
                                    : $"~/assets/images/avatar/{avatarFileName}";
                            }
                            <img class="lazyload"
                                 data-src="@Url.Content(avatarPath)"
                                 src="@Url.Content(avatarPath)"
                                 alt="@item.Agent?.AgencyName" />

                        </div>
                        <span>@item.Agent?.AgencyName</span>

                    </div>

                    <h6 class="price">
                        @string.Format("{0:N0} {1}", item.Price, item.Currency)
                    </h6>
                </div>
            </div>
        </div>
    </div>
}
